---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  {% comment %}
  The purpose of this snippet is to list all the tags you have in your site.
  {% endcomment %}
  {% for tag in page.tags %}
    <a href="/blog/tag/#{{ tag | slugify }}" style="margin-right: .2rem;padding:.2rem .4rem;font-size: 87.5%;color: #fff;background-color: #999;border-radius: .2rem;font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;">
      <code>{{ tag }}</code>
    </a>
  {% endfor %}

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
